.root {
    -fx-background-color: #e6e6e6;
}

/* Champs de saisie */
.text-field, .password-field {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 8;
}

/* Checkbox */
.check-box {
    -fx-color: black;
}

/* Bouton */
.login-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
}

/* Hover bouton */
.login-button:hover {
    -fx-background-color: #246324;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Hyperlink */
.hyperlink {
    -fx-text-fill: #246324;
    -fx-underline: false;
    -fx-background-color: #e6e6e6;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

/* Hover Hyperlink */
.hyperlink:hover {
    -fx-text-fill: #246324;
    -fx-underline: false;
    -fx-background-color: #e6e6e6;
}

.button:focused,
.check-box:focused,
.hyperlink:focused {
    -fx-focus-color: #e6e6e6;
    -fx-faint-focus-color: rgba(0, 0, 0, 0.00);
}

/* C'est ici que sera place les styles du file main */
.accueil{
    -fx-background-color: white;
}
.header{
    -fx-background-color: linear-gradient(to left, white, lightslategray);
}
.navBar{
    -fx-background-color: linear-gradient(to top, white, lightslategray);
}
.btn-scan{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
}

.btn-scan:hover{
    -fx-background-color: #246324;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.btn-scanA{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
}
.btn-scanA:hover{
    -fx-background-color: #000000;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.border-top{
    -fx-background-color: white; /* Nécessaire pour que l'ombre soit visible */
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 8px; /* Des coins arrondis font plus "moderne" */
    -fx-background-radius: 8px;

    /* Ombre légère par défaut */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
}
